<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    background-color: white;
    clear: left;
    text-align: center;
}

footer{
    padding: 1em;
    color: black;
	  text-align: center;
    background-color: white;
    clear: left;
    position: bottom;
    bottom: 0px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 20px;
    padding: 1em;
}
</style>
